div .top {
    margin-top: -5%;
}

.card {
    background: rgba(0, 0, 0, 0.03) !important;
    text-align: center;
    font-weight: 500;
    display: block !important;
    height: 429px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin: 0 30px 0 30px;
}

.card:hover {
    background: rgba(0, 0, 0, 0.69) !important;
    transform: scale(1.069);
    transition: .33s ease-in-out;
    border: .69px solid gold !important;
}

.card img {
    height: 175px;
    background-size: auto;
}

.card-bottom {
    position: absolute;
    justify-content: flex-end;
    bottom: -12px;
    font-size: 20px;
    left: 10px;
}

.card-bottom a {
    animation: spin-animation 2.314s infinite;
    display: inline-block;
    /* transition: all .2s ease-in-out; */
}

@keyframes spin-animation {
    0% {
        transform: scale(.7)
    }
    100% {
        transform: scale(1.25)
    }
}

.card-bottom a:hover {
    color: gold !important;
}

.card-body {
    margin: 0 -25px 0 -25px;
}

.card-body ul {
    text-align: start;
    font-size: 12px;
    font-weight: bolder;
}

.mNp {
    margin: 90px;
}

.card-title {
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .card {
        height: 200px;
    }
    .top h1 {
        font-size: 35px;
        text-align: center;
    }
    .card-body ul {
        display: none;
    }
    .card img {
        height: 100px;
    }
}